

/* Reset CSS */
html, body, div, span, h1, h2, h3, p, a, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Definição de estilos básicos para o corpo do documento */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    margin: 0; /* Remove as margens externas */
    padding: 0; /* Remove o preenchimento interno */
}

/* Estilos para as Seções */
/* Estilos para as seções individuais no layout */
.section {
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento externo (topo e base) */
    border: 1px solid #f58634; /* Borda sólida */
    border-radius: 10px; /* Arredondamento dos cantos */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra projetada */
    color: white; /* Cor do texto */
    background-image: url('/images/Reseeft.jpeg'); /* Imagem de fundo */
    background-size: cover; /* Dimensionamento da imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem de fundo */
    animation: fadeIn 0.8s ease-out; /* Animação de fade-in */
}

/* Estilos para o Título das Seções */
/* Estilos para o título dentro das seções */
.section h1 {
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #f58634; /* Cor do título */
}

/* Estilos para elementos em negrito dentro das seções */
/* Estilos para texto em negrito dentro das seções */
.section strong {
    color: #f58634; /* Cor do texto em negrito */
}

/* Estilos para listas não ordenadas dentro das seções */
/* Estilos para listas não ordenadas (marcadas) dentro das seções */
.section ul {
    list-style: disc; /* Estilo de marcador de lista */
    padding-left: 20px; /* Espaçamento interno à esquerda */
    color: white; /* Cor do texto da lista */
}

/* Estilos para o Rodapé */
/* Estilos para o rodapé do layout */
.footer {
    text-align: center; /* Alinhamento do texto no centro */
    background-color: #222831; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
}

/* Estilos para o Título Principal */
/* Estilos para o título principal do layout */
.main-title {
    font-size: 36px; /* Tamanho da fonte */
    color: #f58634; /* Cor do título */
    text-align: center; /* Alinhamento do texto no centro */
    margin-top: 20px; /* Espaçamento superior */
    animation: swing 1s infinite; /* Animação de balanço infinito */
}

/* Animações */
/* Definições de animações reutilizáveis */
@keyframes fadeIn {
    from {
        opacity: 0; /* Opacidade inicial */
    }
    to {
        opacity: 1; /* Opacidade final */
    }
}

@keyframes swing {
    0%, 100% {
        transform: translateX(0); /* Posição inicial e final */
    }
    20%, 60% {
        transform: translateX(-10px); /* Posição intermediária */
    }
    40% {
        transform: translateX(10px); /* Posição intermediária */
    }
}

/* Estilos para as Redes Sociais */
/* Estilos para ícones de redes sociais */
.social-icons {
    display: flex; /* Exibição em linha flexível */
    justify-content: center; /* Alinhamento horizontal ao centro */
    gap: 10px; /* Espaçamento entre ícones */
    font-size: 24px; /* Tamanho da fonte dos ícones */
}

.social-icon {
    display: inline-block; /* Exibição em bloco */
    color: #ffffff; /* Cor do ícone */
    transition: color 1.3s ease, transform 0.2s ease; /* Transições suaves */
    transform: scale(1); /* Escala inicial */
}

.social-icon:hover {
    color: #ff6600; /* Cor ao passar o mouse */
    transform: scale(1.2); /* Aumenta o tamanho ao passar o mouse */
}

.social-icon.rotate {
    animation: rotate 3s linear infinite; /* Animação de rotação */
}

@keyframes rotate {
    0% { transform: rotate(0deg); } /* Rotação inicial */
    100% { transform: rotate(360deg); } /* Rotação completa */
}

/* Estilos para o Alinhamento de Texto */
/* Estilos para o contêiner de texto */
.container {
    max-width: 1200px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Centraliza horizontalmente o contêiner */
    padding: 20px; /* Espaçamento interno */
    line-height: 1.5; /* Altura da linha */
    text-align: justify; /* Alinhamento do texto justificado */
}

/* Estilo da animação para as seções */
.animated-section {
    transition: transform 0.3s ease; /* Transição suave */
}

.animated-section:hover {
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

/* Estilos para o menu de navegação rápido */
.quick-nav {
    text-align: center; /* Alinhamento do texto no centro */
    margin: 20px 0; /* Espaçamento externo (topo e base) */
}

.quick-nav ul {
    list-style: none; /* Remover marcadores de lista */
    padding: 0; /* Remover preenchimento interno */
}

.quick-nav li {
    display: inline-block; /* Exibição em bloco inline */
    margin: 0 10px; /* Espaçamento entre itens */
}

.quick-nav a {
    text-decoration: none; /* Remover decoração de link */
    color: #f58634; /* Cor do link */
    font-weight: bold; /* Peso da fonte em negrito */
    transition: color 0.3s ease; /* Transição suave de cor */
}

.quick-nav a:hover {
    color: #ff6600; /* Cor ao passar o mouse */
}



/* Estilos para o botão "Voltar para o Topo" */
.back-to-top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px 20px;
    background-color: #f58634;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Começa oculto */
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #ff6600;
}

/* Estilos Globais para o Corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/5594016.jpg');
    background-size: cover; /* Para cobrir todo o espaço disponível */
    background-repeat: repeat; /* Ou 'no-repeat' se você quiser que não se repita */
    background-color: #f7f7f7; /* Cor de fundo de backup */
}

/* Estilos para SVG */
.estilo-caminho {
    fill: var(--corLogoUsuario, #0A2540);
}

/* Seus estilos existentes */

/* Adicione esses estilos personalizados */
.stripe-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #635bff;
    color: #fff;
}

.stripe-header h1 {
    font-size: 24px;
    margin: 0;
}

.stripe-header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.stripe-header-nav li {
    margin-right: 20px;
}

.stripe-header-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.stripe-header-nav a:hover {
    color: #f2f2f2;
}
/* Estilos para as Seções com Bordas Iluminadas */
.section {
    /* Seus estilos existentes... */

    /* Adicione bordas iluminadas usando pseudo-elementos ::before e ::after */
    position: relative;
}

.section::before,
.section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    pointer-events: none;
    z-index: -1;
}

.section::before {
    top: 10px;
    left: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.section::after {
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Estilizando os Botões de Navegação */
.quick-nav {
    text-align: center;
    margin: 20px 0;
}

.quick-nav ul {
    list-style: none;
    padding: 0;
}

.quick-nav li {
    display: inline-block;
    margin: 0 10px;
}

.quick-nav a {
    text-decoration: none;
    color: #f58634;
    font-weight: bold;
    transition: color 0.3s;
    border: 1px solid #f58634; /* Adicione uma borda aos botões */
    padding: 5px 10px; /* Adicione um espaçamento interno aos botões */
    border-radius: 5px; /* Arredonde os cantos dos botões */
}

.quick-nav a:hover {
    color: #ff6600;
    background-color: #f58634; /* Mude o fundo ao passar o mouse */
    color: white; /* Mude a cor do texto ao passar o mouse */
}

/* Estilos para o Aviso de Cookies */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none; /* Inicialmente oculto */
}

.accept-cookies {
    background-color: #f58634;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

/* Definindo a animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicando a animação ao conteúdo principal */
.container {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}
