

/* Reset CSS */
html, body, div, span, h1, h2, h3, p, a, ul, ol, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Definição de estilos básicos para o corpo do documento */
body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    margin: 0; /* Remove as margens externas */
    padding: 0; /* Remove o preenchimento interno */
}

/* Estilos para as Seções */
/* Estilos para as seções individuais no layout */
.section {
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento externo (topo e base) */
    border: 1px solid #f58634; /* Borda sólida */
    border-radius: 10px; /* Arredondamento dos cantos */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra projetada */
    color: white; /* Cor do texto */
    background-image: url('/images/fundo-escuro.jpg'); /* Imagem de fundo */
    background-size: cover; /* Dimensionamento da imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem de fundo */
    animation: fadeIn 0.8s ease-out; /* Animação de fade-in */
    
}